$color-primary: #ff7b38;
$color-primary-light: #f9915c;

$color-black: #000;
$color-white: #fff;
$color-grey-1:#333;
$color-grey-dark:#888888;

$font-body: 'Poppins', sans-serif;
$font-heading :'Roboto', sans-serif;
