.cta-area{
    display:grid;
    grid-template-columns: minmax(min-content, 70rem);
    justify-content:center;
    padding: 9rem 2rem;
    position:relative;
     background-image:linear-gradient(to right,$color-primary,$color-primary-light);
    
     &:before{
      content: "subscribe";
      text-transform: uppercase;
      position: absolute;
      display: block;
      font-size: 18rem;
      justify-self:center;
      color: rgba($color-white,.08);
      font-weight:700;
      font-family: $font-heading;
      line-height: .8;
      bottom:10%;

      @include respond(mobile-big){
         font-size:11rem;
         bottom:20%;
      }

      @include respond(mobile-small){
         bottom:25%;
         color: rgba($color-white,.1);
         font-size:7.5rem;
      }
     }

     &__form{
        position:relative;
        display:flex;
        justify-content:space-between;
        padding:5rem 4rem 0;
     }
     &__input{
        height:4rem;
        border:2px solid $color-white;
        background-color: rgba($color-white,.9);
        border-radius:10rem;
        flex:0 0 77%;
        font-size:inherit;
        padding-left:2.5rem;
     }

     &-btn{
       flex: 0 0 20%;
       box-shadow: 0 .5rem 5rem -1rem rgba($color-black, .4);
     }
    }

