.glance {
    margin-top:14rem;
    padding-bottom:14rem;
    display:grid;
    grid-gap:3rem;
    grid-template-columns: repeat(auto-fit,minmax(37rem, 1fr));
    align-content: center;

    &__img{
        transform:translateX(-4rem);

        @include respond(mobile-big){
            transform:translateX(0);
        }

        &-1{
            width:100%;
            @include glance-utlities;
        }
        &-2{
            transform:translate(165%, 0);
            width:40%;
            margin-top:-17rem;
            @include glance-utlities;

            @include respond(mobile){
                transform: translate(150%, -17%);
                
            }
            
        }
    }

    &__content{
        padding:3rem;
    }

    &__highlight{
        list-style:none;
        display:flex;
    }

    &__text{
        flex:0 0 33%;
        font-size:2.5rem;
        font-weight:500;
        margin-top:2rem;
    }

    &__paragraph{
        margin-bottom:4rem;
    }


}