*,
*:before,
*:after {
    margin:0;
    padding:0;
    box-sizing:inherit;
}

html{
    box-sizing:border-box;
    font-size:62.5%;
    scroll-behavior:smooth;

    @include respond(tab-land){font-size:50%;}
    @include respond(tab-port){font-size:43%;}
}
body{
    font-size:1.5rem;
    line-height:1.7;
    color:$color-grey-dark;
    font-family: $font-body;

}
.container {
    max-width:117rem;
    width:90%;
    margin: 0 auto;
}

::placeholder{
    font-size:1.4rem;
    font-weight: 400;
    color:inherit;
}
::selection{
    background:#333;
    color:#fff;
}

#pre-loader {
    overflow: hidden;
    z-index:99;
    background-color:#fff;
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position:center;
}